<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Weather Conditions</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>

    <div id="datetime"></div>
   <h1>Get Weather Conditions</h1> 
   <form action="/weather">
    <input type="text" name="city" id="city" placeholder="Enter a City"/>
    <br>
    <button type="submit">Submit</button>
   </form>

   <script>
        // Function to update the current date and time
        function updateDateTime() {
            const now = new Date();
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            const date = now.toLocaleDateString(undefined, options);
            const time = now.toLocaleTimeString();
            document.getElementById('datetime').textContent = `${date} ${time}`;
        }

        // This function will be called when the page finishes loading
        window.onload = function() {
            updateDateTime();
            setInterval(updateDateTime, 1000);
        };
   </script>
</body>

</html>